<!--extending the base template-->
{% extends 'base.html' %}

<!-- page title-->
{% block title %}
  Aptee
{% endblock %}
{%block link%}
{%endblock%}
{% block content %}
<!--form to add the new item in the list-->
<!-- <h1>Login Panel.</h1> -->

 
<!-- Button trigger modal -->

<!-- Button trigger modal -->
 


<!-- topscroll button -->
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-turn-up"></i></button>

<!-- Page Content -->
<section id="about">
    <h2 id="welcome">Welcome to <strong id="strongaptee">Aptee</strong></h2>
  
  <div class="container">
    <div class="row">
      <div class="col-sm aboutlogo">
        <img src="https://drive.google.com/uc?export=veiw&id=1jStDqdB9QEwBPJjUqxwaxm_9Z69t04vc" alt="aboutlogo">
        <div class="altext">
          <h1>Your attitude, not your aptitude, will determine your altitude.</h1>
          <button><a href="contact.html" ></a>Let's Start!</button>
         </div>
      </div>
      <div class="col-sm girl">
        <img src="https://drive.google.com/uc?export=veiw&id=12yXpwdzMIcFbAow-GMx0FX9sr1QZd5Ko" alt="workinggirl">
      </div>
    </div>
  </div>
  </section>

<section id="home">
  <div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      {%if data%}
        {%for i in data%}
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        {%endfor%}
      {%endif%}
      </div>
    
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://drive.google.com/uc?export=veiw&id=1rHNy8CIls-Op_69D3RZRE-iGadXko-mL" alt="Los Angeles" class="d-block" style="width:100%">
        <div class="carousel-caption">
          <h3>5 Min Assessment!</h3>
          <p>Take a basic aptitude test so that we can analyse your weak points! It'll be fun, we'll grow together.</p>
        </div>
      </div>
      {%if data%}
        {%for i in data%}
          <div class="carousel-item">
            <img src="{{i.picture_link}}" alt="Event" class="d-block" style="width:100%">
            <div class="carousel-caption">
              <a href="{{i.event_button}}"><h3>{{i.event_name}}</h3>
              <p>{{i.event_description}}</p></a>
            </div> 
          </div>
        {%endfor%}
      {%endif%}
    
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</section>  

  <!-- Features -->
  <div class="features">
  <h2 id="welcome">What's <strong id="strongaptee">New!</strong></h2>
  <div class="container">
    <div class="row justify-content-center">

          <div class="col-12 col-lg-4 ">
            <div class='featureimage'>
              <img src="https://drive.google.com/uc?export=veiw&id=1dhTsoy_OoLQvj_zr5cVwyaNZ7eWc1dnm">

            </div>
          </div>
          <div class="col-12 col-lg-8">
            <div class='child1'>Assessment</div>
            <p id="write">Aptee will automatically suggest a 5 minute assessment to the individual everyday
              which focuses on the topics the individual is weak at.</p>
          </div>
        </div>
    </div>

    <div class="container">
      <div class="row no-gutters">
  
            <div class="col-12 col-lg-8 ">
              <div class='child1'>Report Card</div>
              <p id="write">Aptee will automatically suggest a 5 minute assessment to the individual everyday
                which focuses on the topics the individual is weak at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro soluta alias perspiciatis corporis modi nesciunt vitae eligendi fugiat tenetur adipisci provident hic laudantium doloremque in error voluptatem, sequi accusamus exercitationem.</p>
            </div>
      
          <div class="col-12 col-lg-4">
            <div class='featureimage' id="two">
              <img id="two" src="https://drive.google.com/uc?export=veiw&id=1VMvfagyMst6osHqnDaR_i_6bR319WPmm">

            </div>
            </div>
          </div>
        </div>

      <div class="container">
        <div class="row">
    
              <div class="col-12 col-lg-4">
                <div class='featureimage'>
                  <img src="https://drive.google.com/uc?export=veiw&id=1OjcQYYnms10s5s_5NpcWTv7Z6XiX11x6">

                </div>
              </div>
              <div class="col-12 col-lg-8 ">
                <div class='child1'>Doubt Forum</div>
                <p id="write">Aptee will automatically suggest a 5 minute assessment to the individual everyday
                  which focuses on the topics the individual is weak at.</p>
              </div>
            </div>
        </div>


      <div class="container">
        <div class="row no-gutters">
    
              <div class="col-12 col-lg-8">
                <div class='child1'>Gmail Remiander</div>
                <p id="write">Aptee will automatically suggest a 5 minute assessment to the individual everyday
                  which focuses on the topics the individual is weak at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro soluta alias perspiciatis corporis modi nesciunt vitae eligendi fugiat tenetur adipisci provident hic laudantium doloremque in error voluptatem, sequi accusamus exercitationem.</p>
              </div>
        
            <div class="col-12 col-lg-4">
              <div class='featureimage' id="two">
                <img src="https://drive.google.com/uc?export=veiw&id=12XI9MI4bbLOq28DR41oQIEVCWF_-5Phf">
  
              </div>
              </div>
            </div>
          </div>
          </div>
          
        </div>
      </div>
    </section>
  
    <!-- Events -->
  
    <section class="events" id="events">
      <h2 id="welcome">Event <strong id="strongaptee">...</strong></h2>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-4">
            <div class="card my-5">
              <img src="https://nsm09.casimages.com/img/2021/06/25//21062504053125998217474490.jpg" class="card-img-top" alt="...">
              <h5 class="card-title text-light">
                Event1
                27 July
              </h5>
              <a href="#" class="btn btn-light">Go Somewhere</a>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="card my-5">
              <img src="https://nsm09.casimages.com/img/2021/07/16//21071603222325998217495266.jpg" class="card-img-top" alt="...">
              <h5 class="card-title text-light" >
                Event2
                10 July
              </h5>
              <a href="#" class="btn btn-light">Go Somewhere</a>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="card my-5">
              <img src="https://nsm09.casimages.com/img/2021/07/16//21071603222425998217495268.jpg" alt="...">
              <h5 class="card-title text-light">
                Event3
                17 July
              </h5>
              <a href="#" class="btn btn-light">Go Somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
  <!-- contact -->
  
    <section class="contact" id="contact">
     
      <div class="contact">
        <div class="section1 clearfix">
          <h2 id="welcome">Contact <strong id="strongaptee">Us</strong></h2>

        </div>
    
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-10">
              
    
              <div class="row justify-content-center">
                <div class="col-md-6">
                  
                  <h3 class="heading mb-4">Let's Talk...But You First!</h3>
                  <p id="messagecontact">If you have any questions, please feel free to drop me a line. If you don't get an answer immediately. 
                    I might just be travelling through the middle of nowhere. I'll get back to you as soon as I can. That's promise!</p>
    
                  <p><img  src="https://drive.google.com/uc?export=veiw&id=1rXXgM8d9aM8SCzNXaP-S-kbL4DPxNGgp" alt="Image" class="img-fluid"></p>
    
    
                </div>
                <div class="col-md-6">
                  
                  <form class="mb-5" method="post" id="contactForm" name="contactForm">
                    <h3>Message Here</h3>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Your name">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <textarea class="form-control" name="message" id="message" cols="30" rows="7" placeholder="Write your message"></textarea>
                      </div>
                    </div>  
                    <div class="row">
                      <div class="col-12">
                        <input type="submit" value="Send Message" class="btn btn-primary rounded-0 py-2 px-4 contactsubmit">
                      <!-- <span class="submitting"></span> -->
                      </div>
                    </div>
                  </form>
    
                </div>
              </div>
            </div>
          </div>
        </div>
    
      </div>
    </section>
  
    <!-- footer -->
    
    <footer class="section bg-footer">
      <div class="container">
          <div class="row">
              <div class="col-lg-3">
                  <div class="">
                      <h6 class="footer-heading text-uppercase text-white">Information</h6>
                      <ul class="list-unstyled footer-link mt-4">
                          <li><a href="">Pages</a></li>
                          <li><a href="">Our Team</a></li>
                          <li><a href="">Feuchers</a></li>
                          <li><a href="">Pricing</a></li>
                      </ul>
                  </div>
              </div>
  
              <div class="col-lg-3">
                  <div class="">
                      <h6 class="footer-heading text-uppercase text-white">Ressources</h6>
                      <ul class="list-unstyled footer-link mt-4">
                          <li><a href="">Aptitude Content </a></li>
                          <li><a href="">Video Tutorial</a></li>
                          <li><a href="">Term &amp; Service</a></li>
                          <li><a href="">Jobs</a></li>
                      </ul>
                  </div>
              </div>
  
              <div class="col-lg-2">
                  <div class="">
                      <h6 class="footer-heading text-uppercase text-white">Help</h6>
                      <ul class="list-unstyled footer-link mt-4">
                          <li><a href="">Sign Up </a></li>
                          <li><a href="">Login</a></li>
                          <li><a href="">Terms of Services</a></li>
                          <li><a href="">Privacy Policy</a></li>
                      </ul>
                  </div>
              </div>
  
              <div class="col-lg-4">
                  <div class="">
                      <h6 class="footer-heading text-uppercase text-white">Contact Us</h6>
                      <p class="contact-info mt-4">Contact us if need help withanything</p>
                      <p class="contact-info">+01 123-456-7890</p>
                      <div class="mt-5">
                          <ul class="list-inline">
                              <li class="list-inline-item"><a href="#"><i class="fab facebook footer-social-icon fa-facebook-f"></i></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fab twitter footer-social-icon fa-twitter"></i></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fab google footer-social-icon fa-google"></i></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fab apple footer-social-icon fa-apple"></i></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
  
          </div>
      </div>
  
      <div class="text-center mt-5">
          <p class="footer-alt mb-0 f-14">20 © Aptee, All Rights Reserved</p>
      </div>
  </footer>

  <style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kdam+Thmor+Pro&family=Lobster&family=Pacifico&family=Permanent+Marker&family=Piazzolla:opsz,wght@8..30,500&family=Poppins:wght@100&family=Ubuntu:wght@300&display=swap');



#welcome{
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    padding: 60px;
    font-family: 'Ubuntu', sans-serif;
}
#about{
  margin-top: 10px;
 
}

    /* contact */
    .contact{
      background-color: #d0d0d0;
    }
    .text-black {
  color: #000; }

.content {
  padding: 7rem 0; }

.heading {
  font-size: 2.5rem;
  font-weight: 900; }

.form-control {
  border: none;
  background: #f3f3f3; }
  .form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
    background: #f3f3f3; 
    border: 1px solid black;
  }

.col-form-label {
  color: #000; }

.btn, .form-control, .custom-select {
  height: 50px; }

.custom-select:active, .custom-select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000; }
  #messagecontact{
    font-size: 20px;
    }

.btn {
  border: none;
  border-radius: 4px !important; }
  .btn.btn-primary {
    background: #000;
    color: #fff;
    padding: 15px 20px; }
  .btn:hover {
    color: #fff; }
  .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.box {
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08); }
  .box h3 {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center; }

label.error {
  font-size: 12px;
  color: red; }

#message {
  resize: vertical; }

#form-message-warning, #form-message-success {
  display: none; }

#form-message-warning {
  color: #B90B0B; }

#form-message-success {
  color: #55A44E;
  font-size: 18px;
  font-weight: bold; }

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000;
 }
 .contactsubmit:hover {
  background-color: #7e7b7b;
  color: #000;
 }
 .contact img{
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

 /* feature */

 .featureimage{
  padding: 20px;
 }
 .featureimage img{
    height: 200px;
    width: 250px;
    border-radius: 20px;
 }
 .child1{
  font-family: 'Lobster', cursive;
  color: rgb(238, 22, 177);

 }
 #write {
  font-size: 17px;
 }

 /* event */
 .section
{
  margin-top:5rem;
}

.card 
{
margin-top:5%;
  -webkit-transition: all .2s ease-out;
-moz-transition: all .2s ease-out;
-ms-transition: all .2s ease-out;
-o-transition: all .2s ease-out;
 transition: all .2s ease-out;
border-radius:15px;
border:none;
  background-color:red;
}


.btn 
{
opacity:0;  
position:absolute;
left:50%;
top: 110%;
 transform: translate(-50%, -50%);
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0);
-webkit-transition: all .2s ease-out;
-moz-transition: all .2s ease-out;
-ms-transition: all .2s ease-out;
-o-transition: all .2s ease-out;
 transition: all .2s ease-out;
border-radius: 10px;
padding:0.8rem 1.7rem;
border:none;
font-weight:bold;
}

.card:hover .btn
{
opacity:1;
top: 100%;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover
{
box-shadow: 0 4px 18px 0 rgba(0,0,0,0.7);

}

h5
{
position: absolute;
left:50%;
top: 50%;
transform: translate(-50%, -50%);
font-size: 2.7rem;
opacity:0.3;
text-shadow: 1px 1px 2px black;
-webkit-transition: all .2s ease-out;
-moz-transition: all .2s ease-out;
-ms-transition: all .2s ease-out;
-o-transition: all .2s ease-out;
 transition: all .2s ease-out;
  font-family: 'Leckerli One', cursive;
}
  
#event2{
  color: #B90B0B;

}

.card:hover h5
{
opacity:1;
  font-size: 3rem;
}

.btn:hover 
{
color:white;
border:none;
}

div.col-12:nth-child(1) > .card:nth-child(1) > .btn:nth-child(3):hover
{
background-color:Navy;
}

div.col-12:nth-child(2) > .card:nth-child(1) > .btn:nth-child(3):hover
{
  background-color:SeaGreen;
}

div.col-12:nth-child(3) > .card:nth-child(1) > .btn:nth-child(3):hover
{
  background-color: PaleVioletRed;
}

.card img
{
filter:blur(0px);
  -webkit-transition: all .2s ease-out;
-moz-transition: all .2s ease-out;
-ms-transition: all .2s ease-out;
-o-transition: all .2s ease-out;
 transition: all .2s ease-out;
border-radius:15px;
}

.card:hover img
{
filter:blur(3px);
}


 /* event */
 </style>


  <script>
    //Get the button
    var mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 500) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>
{% endblock %}
{% block style %}
   
{% endblock %}