<html>
    <body>
        Hey ,
        <br>
        <h2>A Warm Welcome to Aptee!</h2>
        <p>
            We are so happy that you've decided to join us!
            <br>
            To get started on your journey to success, we just need a few things:
            login with your email and password on <a href="">Aptee</a> and type in the otp:
            <br>
            <h3>otp:</h3>
            {{OTP}}
            <br>
            or you can click on this <a href="{{link}}">link</a>,to verify your email.
            <br>
            <br>
            Regards,
            <br>
            Team Aptee
        </p>
    </body>
</html>